{{template "base" .}}

{{define "title"}} Let's Vote! Login Page {{end}}

{{define "main"}}
{{ if gt (len .Errors) 0}}

<ul class="text-danger mt-3">
    {{ range .Errors }}
    <li>{{ . }}</li>
    {{ end }}
</ul>
{{ end }}

<div class="text-center d-flex flex-column align-items-center">

    <form method="POST" class="m-2" style="min-width: 30%;">
        <h1 class="h3 mb-3 fw-normal">Please Sign In</h1>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="email">Email address</label>
            {{ if gt (len .Email) 0}}
            <input type="email" id="email" name="email" class="form-control" value={{ .Email }} />
            {{else}}
            <input type="email" id="email" name="email" class="form-control" placeholder="info@example.com" />
            {{end}}
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" />
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="remember-me" name="remember-me"
                        checked />
                    <label class="form-check-label" for="remember-me"> Remember me </label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="/todo-fogotpwd">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="#!">Register</a></p>

        </div>

        <input type="hidden" name="csrf_token" value="{{ .Token }}">
    </form>

</div>
{{end}}