@charset "UTF-8"; /*!
 * Simple-Web-App  v1.0.0  
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
.gradient-custom {
	background: linear-gradient(
		to bottom right,
		rgb(252, 250, 253),
		rgb(7, 179, 241)
	);
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
	font-size: 1rem;
	line-height: 2.15;
	padding-left: 0.75em;
	padding-right: 0.75em;
}

.card-registration .select-arrow {
	top: 13px;
}

.from-navbar-margin {
	margin-top: 80px;
}
